<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>config</key>
	<dict>
		<key>usuario</key>
		<string>$USERID$</string>
		<key>email</key>
		<string>$EMAIL$</string>
	</dict>
	<key>policy</key>
	<dict>
		<key>openin</key>
		<string>allow</string>
		<key>openinwhitelist</key>
		<string></string>
		<key>pasteboard</key>
		<string>allow</string>
		<key>print</key>
		<string>allow</string>
	</dict>
	<key>bundleid</key>
	<string>es.bde.vit.vitmain</string>
</dict>
</plist>
