ion-menu ion-content {
  --background: var(
    --ion-item-background,
    var(--ion-background-color, #fff)
  );
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

.safe-area {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}
ion-split-pane {
  --side-width: 200px;
  --side-max-width: 350px;
}
