<ion-app>
  <ion-split-pane
    when="md"
    color="primary"
    contentId="main-content"
  >
    <ion-menu
      contentId="main-content"
      type="overlay"
      class="safe-area"
    >
      <ion-content color="primary">
        <app-menu
          [appPages]="menu"
          [tipoMenu]="tipoLink.INTERNAL"
          [displayLogo]="true"
        ></app-menu>
      </ion-content>
    </ion-menu>
    <ion-router-outlet
      [environmentInjector]="environmentInjector"
      id="main-content"
    ></ion-router-outlet>
  </ion-split-pane>
</ion-app>
